
@{
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div> 
        <img src="~/Content/images/inicio.jpg" width="1141" />
    </div>
</body>
</html>
