@model IEnumerable<Sedes>

<select class="form-control" id="IdSede" name="IdSede">

    <option value="">Seleccione un opción</option>
    @foreach (var sede in Model)
    {
        <option value="@sede.IdSede">@sede.Nombre</option>
    }


</select>
