<select class="form-control" id="NumeroSala" name="NumeroSala">
    <option value="">Seleccione un opción</option>
     <option value="1">1</option>
     <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
